.container {
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 80px;
    height: 80px;
    animation: show-keyframes 1s ease-in-out forwards;
}

@keyframes show-keyframes {
    0%{
        opacity: 0;
    }
}