.menu {
    width: 200px;
    background-color: var(--low-dark);
    border: 1px solid var(--low-light);
    padding: var(--md-un) 0;
    position: absolute;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    color: var(--light);
    z-index: 100;
}

.option {
    grid-column: span 10;
    padding: var(--sm-un) var(--md-un);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.option:hover {
    background-color: var(--low-blue);
}

.option_name {
    grid-column: span 9;
    font-size: inherit;
    font-size: 14px;
}

.option_extend {
    grid-column: span 1;
    font-size: 10px;
}

.option_sub_menu {
    position: absolute;
    white-space: nowrap;
    top: 0;
    right: -1px;
    transform: translate(100%);
}