.back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.menu {
    width: 200px;
    background-color: var(--dark);
    border: 1px solid var(--low-light);
    padding: var(--md-un) 0;
    position: absolute;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    color: var(--light);
    z-index: 100;
}

.option {
    grid-column: span 10;
    padding: var(--sm-un) var(--md-un);
    cursor: pointer;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    gap: var(--sm-un);
    position: relative;
}

.option:hover {
    background-color: var(--low-blue);
}

.option_name {
    grid-column: span 8;
    font-size: inherit;
    font-size: 14px;
}

.option_extend {
    grid-column: -1;
    font-size: 10px;
}

.option_sub_menu {
    position: absolute;
    white-space: nowrap;
    top: calc( var(--md-un) * -1 );
    right: 0;
    transform: translate(100%);
}