.back {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 100;
}

.menu {
  background-color: var(--dark);
  position: absolute;
  width: 200px;
  padding: var(--md-un) 0;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--low-light);
  backdrop-filter: blur(var(--blur));
  box-shadow: 0 0 var(--br-shadow) var(--low-dark);
}

.input {
  border-top: 1px solid var(--low-light);

  padding: var(--sm-un) var(--md-un);
  margin-top: var(--md-un);
}

.colors {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.btn {
  padding: var(--sm-un) var(--md-un);
  color: var(--light);
}

.btn:hover {
  background-color: var(--low-blue);
  cursor: pointer;
}

.color_check {
  background-image: url("https://img.icons8.com/material-outlined/50/checkmark--v1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: check-mark-kfs .2s ease-in-out;
}

@keyframes check-mark-kfs {
  0% {
    opacity: 0;
  }
}