.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.todo {
    background-color: var(--low-light);
    border-radius: var(--br);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: var(--sm-un);
    padding: var(--sm-un);
    margin: var(--sm-un);
    position: relative;
}

.todo_over:hover {
    background-color: var(--low-light);
}

.grab {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.complete {
    grid-column: span 1;
    border: 1px solid var(--low-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--br);
}

.input {
    grid-column: span 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 var(--sm-un);
}

.title::placeholder {
    color: var(--dark);
}

.remove {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
}

.face:hover {
    background-color: var(--low-light);
}

.add {
    width: auto;
}

.add:hover {
    backdrop-filter: brightness(1.2);
    cursor: pointer;
}