.container {
  background-color: var(--low-dark);
  position: absolute;
  padding: var(--sm-un) var(--lg-un);
  border: 1px solid var(--low-light);
  border-radius: var(--br);
  backdrop-filter: blur(var(--blur));
  box-shadow: 0 0 var(--br-shadow) var(--low-dark);
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md-un);
  border-radius: var(--br);
  padding: var(--sm-un);
  margin: var(--sm-un) 0;
}

.option:hover {
  background-color: var(--low-light);
  cursor: pointer;
}