/* Colors - Background */
.clr-dark {color: var(--dark)}
.clr-light {color: var(--light)}
.clr-dark-primary {color: var(--dark-primary)}
.clr-light-primary {color: var(--light-primary)}
.clr-low-dark {color: var(--low-dark)}
.clr-low-dark {color: var(--low-dark)}
.clr-low-light {color: var(--low-light)}
.clr-const-dark {color: var(--const-dark)}
.clr-const-light {color: var(--const-light)}
.clr-const-dark-primary {color: var(--const-dark-primary)}
.clr-const-light-primary {color: var(--const-light-primary)}
.clr-const-low-dark {color: var(--const-low-dark)}
.clr-const-low-light {color: var(--const-low-light)}

.bkg-dark {background-color: var(--dark)}
.bkg-light {background-color: var(--light)}
.bkg-dark-primary {background-color: var(--dark-primary)}
.bkg-light-primary {background-color: var(--light-primary)}
.bkg-low-dark {background-color: var(--low-dark)}
.bkg-low-light {background-color: var(--low-light)}
.bkg-const-dark {background-color: var(--const-dark)}
.bkg-const-light {background-color: var(--const-light)}
.bkg-const-dark-primary {background-color: var(--const-dark-primary)}
.bkg-const-light-primary {background-color: var(--const-light-primary)}
.bkg-const-low-dark {background-color: var(--const-low-dark)}
.bkg-const-low-light {background-color: var(--const-low-light)}

.clr-purple {color: var(--purple)}
.clr-red {color: var(--red)}
.clr-pink {color: var(--pink)}
.clr-indigo {color: var(--indigo)}
.clr-blue {color: var(--blue)}
.clr-cyan {color: var(--cyan)}
.clr-teal {color: var(--teal)}
.clr-green {color: var(--green)}
.clr-yellow {color: var(--yellow)}
.clr-orange {color: var(--orange)}
.bkg-purple {background-color: var(--purple)}
.bkg-red {background-color: var(--red)}
.bkg-pink {background-color: var(--pink)}
.bkg-indigo {background-color: var(--indigo)}
.bkg-blue {background-color: var(--blue)}
.bkg-cyan {background-color: var(--cyan)}
.bkg-teal {background-color: var(--teal)}
.bkg-green {background-color: var(--green)}
.bkg-yellow {background-color: var(--yellow)}
.bkg-orange {background-color: var(--orange)}

/* Border */
.light-border {border: 1px solid var(--low-light)}
.light-border-right {border-right: 1px solid var(--low-light)}
.light-border-left {border-left: 1px solid var(--low-light)}
.light-border-bottom {border-bottom: 1px solid var(--low-light)}
.light-border-top {border-top: 1px solid var(--low-light)}
.dark-border {border: 1px solid var(--low-dark)}
.dark-border-right {border-right: 1px solid var(--low-dark)}
.dark-border-left {border-left: 1px solid var(--low-dark)}
.dark-border-bottom {border-bottom: 1px solid var(--low-dark)}
.dark-border-top {border-top: 1px solid var(--low-dark)}

.const-light-border {border: 1px solid var(--const-low-light)}
.const-light-border-right {border-right: 1px solid var(--const-low-light)}
.const-light-border-left {border-left: 1px solid var(--const-low-light)}
.const-light-border-bottom {border-bottom: 1px solid var(--const-low-light)}
.const-light-border-top {border-top: 1px solid var(--const-low-light)}
.const-dark-border {border: 1px solid var(--const-low-dark)}
.const-dark-border-right {border-right: 1px solid var(--const-low-dark)}
.const-dark-border-left {border-left: 1px solid var(--const-low-dark)}
.const-dark-border-bottom {border-bottom: 1px solid var(--const-low-dark)}
.const-dark-border-top {border-top: 1px solid var(--const-low-dark)}

.const-dark-placeholder::placeholder{color: var(--const-dark)}
.const-light-placeholder::placeholder{color: var(--const-light)}
.dark-placeholder::placeholder{color: var(--dark)}
.light-placeholder::placeholder{color: var(--light)}
/* Radius */
.br {border-radius: var(--br)}
.full-br {border-radius: var(--full-br)}

/* Font */
.sm-fs {font-size: var(--sm-fs)}
.md-fs {font-size: var(--md-fs)}
.lg-fs {font-size: var(--lg-fs)}
.xl-fs {font-size: var(--xl-fs)}

.sm-fw {font-weight: var(--sm-fw)}
.md-fw {font-weight: var(--md-fw)}
.lg-fw {font-weight: var(--lg-fw)}
.xl-fw {font-weight: var(--xl-fw)}

.normal-f {
    font-family: monospace;
}

.center-text { text-align: center}
.start-text { text-align: start}
.end-text { text-align: end}

/* Hover effects */
.hover-effect-square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.hover-effect-square::before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    background-color: var(--const-low-light);
    border-radius: var(--br);
    display: none;
}
.hover-effect-square:hover::before {display: block}
.hover-effect-brightness {transition: .2s}
.hover-effect-brightness:hover {backdrop-filter: brightness(1.1);cursor: pointer;}
.hover-effect-opacity {opacity: 0.5;transition: .2s;}
.hover-effect-opacity:hover {opacity: 1;cursor: pointer;}
.hover-effect-option:hover {background-color: var(--low-blue)}

/* Width - Height */
.w-0 {width: 0}
.w-50 {width: 50%}
.w-100 {width: 100%}
.h-0 {height: 0}
.h-50 {height: 50%}
.h-100 {height: 100%}
.full{width: 100%;height: 100%;}

/* Buttons */
.btn {
    padding: var(--sm-un);
    border-radius: var(--br);
    border: 1px solid var(--low-light);
    transition: .2s;
    text-align: center;
}
.btn:hover {
    background: var(--low-light);
    cursor: pointer;
}

/* Icons */
.cover-i {object-fit: cover}
.contain-i {object-fit: contain}

.sm-i {width: 20px;height: 20px;}
.md-i {width: 25px;height: 25px;}
.lg-i {width: 40px;height: 40px;}
.xl-i {width: 100px;height: 100px;}

.dark-i {fill: var(--dark)}
.light-i {fill: var(--light)}
.const-dark-i {fill: var(--const-dark)}
.const-light-i {fill: var(--const-light)}

/* Containers */

.z-index {z-index: 100}
.relative {position: relative}
.absolute{position: absolute}

.hide {display: none}
.unvisible {opacity: 0}
.low {opacity: 0.5}

.grid {display: grid}
.flex {width: 100%;height: 100%;display: flex;}
.v-flex {flex-direction: column}

.h-self-start {justify-self: start}
.h-self-center {justify-self: center}
.h-self-end {justify-self: end}
.v-self-start {align-self: start}
.v-self-center {align-self: center}
.v-self-end {align-self: end}

.h-start {justify-content: start}
.h-center {justify-content: center}
.h-end {justify-content: end}
.h-space-between {justify-content: space-between}
.h-space-around {justify-content: space-around}
.h-space-evenly {justify-content: space-evenly}
.v-start {align-items: start}
.v-center {align-items: center}
.v-end {align-items: end}
.v-space-between {align-items: space-between}
.v-space-around {align-items: space-around}
.v-space-evenly {align-items: space-evenly}

.v-all-start {align-content: start}
.v-all-center {align-content: center}
.v-all-end {align-content: end}
.v-all-space-between {align-content: space-between}
.v-all-space-around {align-content: space-around}
.v-all-space-evenly {align-content: space-evenly;}

.l-con {width: 100%;max-width: 800px;padding: var(--sm-un);}
.con {width: 100%;height: 100%;padding: var(--sm-un);}
.row {display: grid;grid-template-columns: repeat(10, 1fr);}
.auto-row {display: grid;grid-template-columns: repeat(10, auto);}

.col {grid-column: span 10}
.col-1 {grid-column: span 1}
.col-2 {grid-column: span 2}
.col-3 {grid-column: span 3}
.col-4 {grid-column: span 4}
.col-5 {grid-column: span 5}
.col-6 {grid-column: span 6}
.col-7 {grid-column: span 7}
.col-8 {grid-column: span 8}
.col-9 {grid-column: span 9}
.col-last {grid-column: -1}

.sm-g {gap: var(--sm-un)}
.md-g {gap: var(--md-un)}
.lg-g {gap: var(--lg-un)}

.overflow-hidden {overflow: hidden}
.overflow-x-auto {overflow-x: auto}
.overflow-y-auto {overflow-y: auto}

/* Padding - Margin */
.sm-p {padding: var(--sm-un)}
.md-p {padding: var(--md-un)}
.lg-p {padding: var(--lg-un)}

.sm-py {padding-top: var(--sm-un);padding-bottom: var(--sm-un);}
.md-py {padding-top: var(--md-un);padding-bottom: var(--md-un);}
.lg-py {padding-top: var(--lg-un);padding-bottom: var(--lg-un);}
.sm-px {padding-left: var(--sm-un);padding-right: var(--sm-un);}
.md-px {padding-left: var(--md-un);padding-right: var(--md-un);}
.lg-px {padding-left: var(--lg-un);padding-right: var(--lg-un);}

.sm-pt {padding-top: var(--sm-un)}
.md-pt {padding-top: var(--md-un)}
.lg-pt {padding-top: var(--lg-un)}
.sm-pb {padding-bottom: var(--sm-un)}
.md-pb {padding-bottom: var(--md-un)}
.lg-pb {padding-bottom: var(--lg-un)}
.sm-pl {padding-left: var(--sm-un)}
.md-pl {padding-left: var(--md-un)}
.lg-pl {padding-left: var(--lg-un)}
.sm-pr {padding-right: var(--sm-un)}
.md-pr {padding-right: var(--md-un)}
.lg-pr {padding-right: var(--lg-un)}

.sm-m {margin: var(--sm-un)}
.md-m {margin: var(--md-un)}
.lg-m {margin: var(--lg-un)}

.sm-my {margin-top: var(--sm-un);margin-bottom: var(--sm-un);}
.md-my {margin-top: var(--md-un);margin-bottom: var(--md-un);}
.lg-my {margin-top: var(--lg-un);margin-bottom: var(--lg-un);}
.sm-mx {margin-left: var(--sm-un);margin-right: var(--sm-un);}
.md-mx {margin-left: var(--md-un);margin-right: var(--md-un);}
.lg-mx {margin-left: var(--lg-un);margin-right: var(--lg-un);}

.sm-mt {margin-top: var(--sm-un)}
.md-mt {margin-top: var(--md-un)}
.lg-mt {margin-top: var(--lg-un)}
.sm-mb {margin-bottom: var(--sm-un)}
.md-mb {margin-bottom: var(--md-un)}
.lg-mb {margin-bottom: var(--lg-un)}
.sm-ml {margin-left: var(--sm-un)}
.md-ml {margin-left: var(--md-un)}
.lg-ml {margin-left: var(--lg-un)}
.sm-mr {margin-right: var(--sm-un)}
.md-mr {margin-right: var(--md-un)}
.lg-mr {margin-right: var(--lg-un)}

/* Cursor */

.grab-cursor {cursor: grab}
.move-cursor {cursor: move}
.pointer-cursor {cursor: pointer}