/* Colors - Background */

.clr-dark {
    color: var(--dark);
}

.bkg-dark {
    background-color: var(--dark);
}

.clr-light {
    color: var(--light);
}

.bkg-light {
    background-color: var(--light);
}

.clr-low-dark {
    color: var(--low-dark);
}

.bkg-low-dark {
    background-color: var(--low-dark);
}

.clr-low-light {
    color: var(--low-light);
}

.bkg-low-light {
    background-color: var(--low-light);
}

.clr-purple {
    color: var(--purple);
}

.bkg-purple {
    background-color: var(--purple);
}

.clr-red {
    color: var(--red);
}

.bkg-red {
    background-color: var(--red);
}

.clr-pink {
    color: var(--pink);
}

.bkg-pink {
    background-color: var(--pink);
}

.clr-purple {
    color: var(--purple);
}

.bkg-purple {
    background-color: var(--purple);
}

.clr-indigo {
    color: var(--indigo);
}

.bkg-indigo {
    background-color: var(--indigo);
}

.clr-blue {
    color: var(--blue);
}

.bkg-blue {
    background-color: var(--blue);
}

.clr-cyan {
    color: var(--cyan);
}

.bkg-cyan {
    background-color: var(--cyan);
}

.clr-teal {
    color: var(--teal);
}

.bkg-teal {
    background-color: var(--teal);
}

.clr-green {
    color: var(--green);
}

.bkg-green {
    background-color: var(--green);
}

.clr-yellow {
    color: var(--yellow);
}

.bkg-yellow {
    background-color: var(--yellow);
}

.clr-orange {
    color: var(--orange);
}

.bkg-orange {
    background-color: var(--orange);
}

/* Padding - Margin */

.sm-p {
    padding: var(--sm-un);
}

.md-p {
    padding: var(--md-un);
}

.lg-p {
    padding: var(--lg-un);
}

.sm-py {
    padding-top: var(--sm-un);
    padding-bottom: var(--sm-un);
}

.md-py {
    padding-top: var(--md-un);
    padding-bottom: var(--md-un);
}

.lg-py {
    padding-top: var(--lg-un);
    padding-bottom: var(--lg-un);
}

.sm-px {
    padding-left: var(--sm-un);
    padding-right: var(--sm-un);
}

.md-px {
    padding-left: var(--md-un);
    padding-right: var(--md-un);
}

.lg-px {
    padding-left: var(--lg-un);
    padding-right: var(--lg-un);
}

.sm-m {
    margin: var(--sm-un);
}

.md-m {
    margin: var(--md-un);
}

.lg-m {
    margin: var(--lg-un);
}

.sm-my {
    margin-top: var(--sm-un);
    margin-bottom: var(--sm-un);
}

.md-my {
    margin-top: var(--md-un);
    margin-bottom: var(--md-un);
}

.lg-my {
    margin-top: var(--lg-un);
    margin-bottom: var(--lg-un);
}

.sm-mx {
    margin-left: var(--sm-un);
    margin-right: var(--sm-un);
}

.md-mx {
    margin-left: var(--md-un);
    margin-right: var(--md-un);
}

.lg-mx {
    margin-left: var(--lg-un);
    margin-right: var(--lg-un);
}

.sm-g {
    gap: var(--sm-un);
}

.md-g {
    gap: var(--md-un);
}

.lg-g {
    gap: var(--lg-un);
}


/* Radius */

.br {
    border-radius: var(--br);
}

.full-br {
    border-radius: var(--full-br);
}

/* Font size - Font weight */

.sm-fs {
    font-size: var(--normal-fs);
}

.md-fs {
    font-size: var(--md-fs);
}

.lg-fs {
    font-size: var(--lg-fs);
}

/* Containers */

.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.flex-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

/* Hover effects */

.hover-effect-opacity {
    opacity: .8;
    cursor: pointer;
    transition: .2s;
}

.hover-effect-opacity:hover {
    opacity: 1;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.circle::before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    background-color: var(--low-light);
    border-radius: var(--full-br);
    display: none;
}

.circle:hover::before {
    display: block;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.square::before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    background-color: var(--low-light);
    border-radius: var(--br);
    display: none;
}

.square:hover::before {
    display: block;
}