/* Effects */

.br {border-radius: var(--br)}
.br-2 {border-radius: calc( var(--br) * 2 )}
.br-4 {border-radius: calc( var(--br) * 4 )}
.full-br {border-radius: var(--full-br)}

.hide {display: none}
.unvisible {opacity: 0}
.low {opacity: 0.5}
.low-6 {opacity: 0.6}
.low-7 {opacity: 0.7}
.low-8 {opacity: 0.8}
.low-9 {opacity: 0.9}
.bright {backdrop-filter: brightness(1.2)}
.bright-2 {backdrop-filter: brightness(1.4)}
.bright-4 {backdrop-filter: brightness(1.8)}
.blur-2 {backdrop-filter: blur(2px)}
.blur-5 {backdrop-filter: blur(5px)}
.blur-10 {backdrop-filter: blur(10px)}
.blur-20 {backdrop-filter: blur(20px)}

.skew-5 {transform: skew(5deg);}

.skew-6 {transform: skew(8deg)}

.hover-effect-square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.hover-effect-square::before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    background-color: var(--const-low-light);
    border-radius: var(--br);
    display: none;
}
.hover-effect-square:hover::before {display: block}
.hover-effect-brightness {transition: .2s}
.hover-effect-brightness:hover {backdrop-filter: brightness(1.2);cursor: pointer;}
.hover-effect-opacity {opacity: 0.5;transition: .2s;}
.hover-effect-opacity:hover {opacity: 1;cursor: pointer;}
.hover-effect-option:hover {background-color: var(--low-blue)}

.cursor-grab {cursor: grab;}
.cursor-grabbing {cursor: grabbing}
.cursor-pointer {cursor: pointer;}
.cursor-move {cursor: move;}
.cursor-auto {cursor: auto;}

/* Animations effect */

.display-effect-1 {animation: display-effect-1 .2s;}
.display-effect-2 {animation: display-effect-2 .2s;}

@keyframes display-effect-1 {
    0%{
        transform: translateY(10%); 
        opacity: 0;
    }
}

@keyframes display-effect-2 {
    0%{
        transform: translateX(-10%);
        opacity: 0;
    }
}
