@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

:root {

  --dark: rgb(10, 12, 15);
  --light: rgb(200, 205, 210);
  --gray: rgb(20, 25, 30);
  --light-gray: rgb(255, 255, 255);

  --low-dark: rgb(0, 0, 0, .5);
  --low-light: rgb(255, 255, 255, .25);
  
  --const-dark: rgb(10, 12, 15);
  --const-light: rgb(200, 205, 210);
  --const-gray: rgb(20, 25, 30);
  --const-light-gray: rgb(255, 255, 255);

  --const-low-dark: rgb(0, 0, 0, .5);
  --const-low-light: rgb(255, 255, 255, .2);

  --low-blue: rgb(50, 150, 255, .5);

  --red: #ea868f;
  --pink: #e685b5;
  --purple: #a98eda;
  --indigo: #a370f7;
  --blue: #6ea8fe;
  --cyan: #6edff6;
  --teal: #79dfc1;
  --green: #75b798;
  --yellow: #ffda6a;
  --orange: #feb272;

  --lg-un: 2rem;
  --md-un: 1rem;
  --sm-un: 0.5rem;

  --br: 5px;
  --full-br: 50%;

  --br-shadow: 10px;

  --blur: 10px;

  --sm-fs: 14px;
  --md-fs: 20px;
  --lg-fs: 25px;
  --xl-fs: 50px;

  --normal-fw: 400;
  --b-fw:  500;
  --bb-fw: 600;
  --bb-fw: 700;
  
  --f: 'Josefin Sans', sans-serif;
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--light);
  font-family: var(--f);
  font-size: var(--sm-fs);
  font-weight: var(--normal-fw);
  line-height: 1.5rem;
  user-select: none;
}

body {
  background-color: var(--gray);
  width: 100vw;
  height: 100vh;
}

#__next {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--const-low-light);
}

input, textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
}

input[type="text"]::placeholder, textarea::placeholder {
  opacity: 0.5;
  color: var(--light);
}