@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

:root {
  --dark: rgb(30, 35, 40);
  --light: rgb(255, 255, 255);
  --dark-primary: rgb(40, 45, 50);
  --light-primary: rgb(240, 245, 250);
  --low-dark: rgb(0, 0, 0, .5);
  --low-light: rgb(255, 255, 255, .25);
  --low-blue: rgb(50, 150, 255, .5);
  --const-dark: rgb(30, 35, 40);
  --const-light: rgb(255, 255, 255);
  --const-dark-primary: rgb(40, 45, 50);
  --const-light-primary: rgb(240, 245, 250);
  --const-low-dark: rgb(0, 0, 0, .5);
  --const-low-light: rgb(255, 255, 255, .25);
  --const-low-blue: rgb(50, 150, 255, .5);
  --red: #ea868f;
  --pink: #e685b5;
  --purple: #a98eda;
  --indigo: #a370f7;
  --blue: #6ea8fe;
  --cyan: #6edff6;
  --teal: #79dfc1;
  --green: #75b798;
  --yellow: #ffda6a;
  --orange: #feb272;
  --lg-un: 2rem;
  --md-un: 1rem;
  --sm-un: 0.5rem;
  --br: 5px;
  --full-br: 50%;
  --br-shadow: 10px;
  --sm-fs: 15px;
  --md-fs: 18px;
  --lg-fs: 20px;
  --xl-fs: 40px;
  --sm-fw: 400;
  --md-fw: 500;
  --lg-fw: 600;
  --xl-fw: 700;
  --f: 'Nunito', sans-serif;
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--light);
  font-family: var(--f);
  font-size: var(--sm-fs);
  font-weight: var(--sm-fw);
  line-height: 1.5rem;
  user-select: none;
}

html[data-theme='dark'] {
  --dark: rgb(30, 35, 40);
  --light: rgb(255, 255, 255);
  --dark-primary: rgb(40, 45, 50);
  --light-primary: rgb(240, 245, 250);
  --low-dark: rgb(0, 0, 0, .5);
  --low-light: rgb(255, 255, 255, .25);
}

html[data-theme='light'] {
  --dark: rgb(255, 255, 255);
  --light: rgb(30, 35, 40);
  --dark-primary: rgb(240, 245, 250);
  --light-primary: rgb(40, 45, 50);
  --low-dark: rgb(255, 255, 255, .25);
  --low-light: rgb(0, 0, 0, .5);
}

body {
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;
}

#__next {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--low-light);
}

input, textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
}

input[type="text"]::placeholder, textarea::placeholder {
  opacity: 0.5;
  color: var(--light);
}

hr {
  border: none;
  border-top: 1px solid var(--low-light);
  width: 100%;
  margin: var(--sm-un) 0;
}