.container {
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    gap: var(--lg-un);
    padding: var(--sm-un);
    margin-bottom: 15rem;
}

.section {
    width: 100%;
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: var(--sm-un);
    overflow: hidden;
}

.title {
    grid-column: span 3;
    display: flex;
    align-items: center;
}

.links {
    grid-column: span 3;
    justify-self: end;
    display: flex;
    gap: var(--sm-un);
}

.btn {
    padding: var(--sm-un);
    border-radius: var(--br);
    border: 1px solid var(--low-light);
    transition: .2s;
    text-align: center;
}

.btn:hover {
    background: var(--low-light);
    cursor: pointer;
}

.aside {
    grid-column: span 3;
}

.illustration {
    width: 100%;
    object-fit: contain;
    animation: kfs-01 5s infinite ease-in-out alternate;
}

@keyframes kfs-01 {
    0% {
        transform: skew(0deg) translateY(-2%);
    }
    100% {
        transform: skew(-5deg, 5deg) translateY(2%);
    }
}

.light_section {
    background-color: white;
    width: 100%;
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: var(--sm-un);
    overflow: hidden;
    border-radius: var(--br);
}

.light_aside {
    grid-column: span 3;
    color: var(--dark);
}