.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.frame_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    padding: var(--md-un);
    width: 400px;
}

.frame_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    padding: var(--md-un);
    width: 400px;
}

.title {
    margin-bottom: var(--lg-un);
    font-size: var(--md-fs);
    font-weight: 600;
    color: var(--light);
}

.logo {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: var(--md-un);
}

.description {
    margin-bottom: var(--lg-un);
    color: var(--light);
    opacity: .5;
}

.btn {
    padding: var(--sm-un);
    border-radius: var(--br);
    border: 1px solid var(--light);
    font-size: calc(var(--md-fs) / 2);
    color: var(--light);
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background: var(--low-light);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.btn:hover::before {
    -webkit-animation: kfs-00 0.5s 0s linear;
    -moz-animation: kfs-00 0.5s 0s linear;
    animation: kfs-00 0.5s 0s linear;
}

.btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 50px 30px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.workspace {
    width: 100%;
    height: 100%;
    animation: kfs-01 5s infinite ease-in-out alternate;
}

@keyframes kfs-00 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

@keyframes kfs-01 {
    0% {
        transform: skew(2deg) translateY(0%);
    }
    100% {
        transform: skew(-2deg) translateY(10%);
    }
}