.container {
    background-color: var(--gray);
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
}

.tabs {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, auto);
    grid-auto-flow: column;
    overflow: hidden;
    transition: all .5s;
}

.tab {
    background-color: var(--gray);
    border-right: 2px solid var(--low-light);
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    padding: var(--sm-un);
    transition: .2s;
    animation: tab-kfs .2s;
    opacity: 0.5;
}

.tab:hover:not(.select) {
    opacity: 1;
}

.tab:hover .remove {
    opacity: 1;
}

.select {
    background-color: var(--dark);
    opacity: 1;
}

.name {
    grid-column: span 4;
    white-space: nowrap;
    overflow: hidden;
}

.remove {
    opacity: 0;
    grid-column: span 1;
    display: flex;
    justify-content: end;
}

.remove_icon:hover {
    background-color: var(--low-light);
    cursor: pointer;
    border-radius: var(--full-br);
}

.add {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding: var(--sm-un);
}

.add_icon:hover {
    background-color: var(--low-light);
    cursor: pointer;
    border-radius: var(--br);
}

.save {
    background-color: var(--dark);
    display: flex;
    padding: var(--sm-un);
}

@keyframes tab-kfs {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
}