.container {
    background-color: var(--gray);
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
}

.menu {
    background-color: var(--dark);
    border-right: 1px solid var(--low-light);
    display: flex;
    gap: var(--sm-un);
    align-items: center;
    padding: var(--sm-un);
    width: 100%;
    height: 100%;
    color: var(--light);
}

.container_tab {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: column;
    overflow: hidden;
    transition: all .5s;
}

.tab {
    background-color: var(--gray);
    border-right: 1px solid var(--low-light);
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    gap: var(--sm-un);
    padding: var(--sm-un);
    transition: .2s;
    opacity: 0.5;
}

.tab:hover:not(.select) {
    opacity: 1;
}

.tab:hover .remove {
    opacity: 1;
}

.select {
    background-color: var(--dark);
    opacity: 1;
}

.name {
    grid-column: span 4;
    white-space: nowrap;
    overflow: hidden;
    color: var(--light);
}

.remove {
    opacity: 0;
    grid-column: span 1;
    display: flex;
    justify-content: end;
}


.add {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding: var(--sm-un);
}

.icon:hover {
    background-color: var(--low-light);
    cursor: pointer;
    border-radius: var(--br);
}