.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.todo {
    background-color: var(--low-light);
    border-radius: var(--br);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--sm-un);
    padding: var(--sm-un) 0;
    margin: var(--sm-un);
    position: relative;
}

.todo_over:hover {
    background-color: var(--low-light);
}

.grab {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    position: relative;
}

.complete {
    border: 1px solid var(--low-dark);
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--br);
}

.input {
    grid-column: 3 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.title {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 var(--sm-un);
}

.title::placeholder {
    color: var(--dark);
}

.remove {
    grid-column: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
}

.face:hover {
    background-color: var(--low-light);
}

.add {
    background-color: var(--low-light);
    border-radius: var(--br);
    padding: var(--sm-un) 0;
    margin: var(--sm-un);
    display: flex;
    justify-content: center;
    opacity: .8;
}

.add:hover {
    opacity: 1;
    cursor: pointer;
}