.container {
    width: 100%;
    height: 100%;
}

.screen {
    font-size: var(--lg-fs);
    display: flex;
    justify-content: center;
    padding: var(--sm-un);
}

/*     border-bottom: 1px solid var(--low-dark);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--sm-un);
    padding: var(--sm-un) 0;
    position: relative; */