.container {
    background-color: var(--low-dark);
    width: 100%;
    height: 50px;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 150px);
    grid-auto-flow: column;

}

.tab {
    background-color: var(--low-dark);
    border-right: 1px solid var(--low-light);
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    gap: var(--sm-un);
    padding: var(--sm-un);
    transition: .2s;
    opacity: 0.5;
}

.tab:hover {
    opacity: 1;
}

.tab:hover .remove {
    opacity: 1;
}

.select {
    background-color: var(--dark);
    opacity: 1;
}

.name {
    grid-column: span 4;
    white-space: nowrap;
    overflow: hidden;
    color: var(--light);
}

.remove {
    display: flex;
    justify-content: end;
    opacity: 0;
}

.add {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: var(--sm-un);
    width: auto;
}

.icon:hover {
    background-color: var(--low-light);
    cursor: pointer;
    border-radius: var(--br);
}