.container {
    background-color: var(--low-dark);
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(10, 200px);
    position: relative;
}

.tab {
    background-color: var(--low-dark);
    border-right: 1px solid var(--low-light);
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 var(--sm-un);
    padding: 0 var(--sm-un);
    transition: .2s;
    opacity: 0.6;
    cursor: pointer;
}

.tab:hover {
    opacity: 1;
}

.control {
    border-right: 1px solid var(--low-light);
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    gap: var(--sm-un);
    padding: var(--sm-un);
}

.select {
    background-color: var(--dark);
    opacity: 1;
}

.name {
    grid-column: span 4;
    color: var(--light);
    white-space: nowrap;
    overflow: hidden;
}

.remove {
    display: flex;
    justify-content: end;
    opacity: 0;
}

.tab:hover .remove {
    opacity: 1;
}

/* -------------- The switch -------------- */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px var(--yellow);
    background: var(--dark);
    transition: .5s;
}

input:checked+.slider {
    background-color: var(--light);
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px var(--yellow);
}